/* home css */
.banner{
  height: 50vh;
  background: linear-gradient(to right, #777b87, #000670, #09daa0, #9daa34);
  display: flex;
  justify-content: center;
  align-items: center;
}




/* productcard css */
.productcard img{
  height: 12rem;
  object-fit: contain;
}
.productcard img:hover{
  transform: scale(2,2);
  transition: all 5s ease-in-out;
}


/* signup css */
.signup button{
  background-color: blue;
  width: 10rem;
  color: red;
  margin: 1rem;
}


/* cart css */
.cart img{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}